@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap");

.hdr {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  color: #3f51b5;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  max-width: 120px;
  margin: 20px auto 0;
  border: 2px solid #3f51b5;
  box-shadow: 4px 4px 0px #3f51b5;
}
/* Sign up form */
.sign-up-form {
  display: flex;
  flex-flow: column;
  max-width: 300px;
  margin: 30px auto 0;
}
body .MuiFormControl-root {
  margin-bottom: 20px;
}
.sign-up-form h3 {
  text-align: center;
}

/* Survey */
.survey-container {
  display: flex;
  flex-flow: column;
  max-width: 300px;
  margin: 30px auto 0;
}
.options {
  margin-bottom: 20px;
}

/* Home */
.home {
  max-width: 300px;
  margin: 30px auto 0;
}
.home h3,
.home p {
  text-align: center;
}
.home a {
  width: 100%;
  margin-top: 20px;
}
